.flex-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  position: absolute;
    height: 110px;
    width: 110px;
    top: -71px;
    background: linear-gradient(rgba(1, 15, 85, 0.445), rgba(173, 173, 173, 0.371)), url('../../../assets/icon/icon.jpg');
    z-index: 10;
    border-radius: 100%;
    background-size: cover !important;
  background-repeat: no-repeat;
  background-position: center;
  border: #ffffff solid 5px
}
